<h1><%= @listing.title %></h1>

<p><strong>Description:</strong> <%= @listing.description %></p>
<p><strong>Price:</strong> $<%= @listing.price %> per night</p>
<p><strong>Owner:</strong> <%= @listing.user.email %></p>

<%= link_to "Back to Listings", listings_path %>
